<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>BackgroundColor</key>
		<string>LaunchBackground</string>
		<key>ImageName</key>
		<string>LogoPlaceholder</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-signin-dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.334278971895-75h3saitad5lpd0h6kmnploredlcom9g</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-signin-prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.261634069346-hqbukjfq4jfmuu6p6a9l5c6ucsrjmc9q</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
